<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Home">Home</a></li>
                    @*020917  change navbar to dropdown and check is Admin login?*@
                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Admin Control<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Products">ProductsAdmin</a></li>
                                <li><a href="~/RolesAdmin">RolesAdmin</a></li>
                                <li><a href="~/UsersAdmin">UsersAdmin</a></li>
                            </ul>
                        </li>
                    }
                    <li><a href="~/Catalog">Catalog-All</a></li>
                    <li><a href="~/Catalog?CategoryName=Fictional">Fictional</a></li>
                    <li><a href="~/Catalog?CategoryName=History">History</a></li>
                    <li><a href="~/Catalog?CategoryName=Business">Business</a></li>
                    <li><a href="~/Catalog?CategoryName=Science">Science</a></li>
                    <li><a href="~/Catalog?CategoryName=Sociology">Sociology</a></li>
                    <li><a href="~/Catalog?CategoryName=Education">Education</a></li>
                    <li><a href="~/Contact">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Sample Data &copy; 2003 Microsoft. &nbsp;&nbsp;  Added Value done 2004-2015 by lecturers and students of the Manukau Institute of Technology.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
